<ion-header>
  <ion-toolbar color="certyget">
    <ion-buttons slot="start">
      <!-- Back Button -->
      <div class="botonRetroceder">
        <ion-back-button
          *ngIf="backButton"
          [defaultHref]="backButton"
        ></ion-back-button>
      </div>

      <!-- Dismiss Modal -->
      <!-- <ion-button *ngIf="isModal" (click)="dismissModal()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button> -->

      <ion-menu-button *ngIf="showMenu" menu="menu-content"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
