ion-button.close-button {
  --color: black;
}
ion-content {
  --ion-background-color: #ffffff !important;
}

ion-toolbar {
  --ion-background-color: transparent;
  --opacity: 0;
}

ion-card {
  background-color: transparent !important;
  padding: 0 !important;
}

ion-card-title {
  font-size: 20px;
  color: #080808;
  text-align: center;
  font-weight: 600;
}

ion-header {
  position: absolute;
}

ion-card {
  --ion-background-color: transparent;
  box-shadow: none !important;
}

.signin-btns {
  margin-top: 15px;
  text-align: center;
  color: #f0f4fa;
}

.loginbtn {
  --ion-color-primary: #215ab7;
}

app-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  background: #ffffff;
  color: black;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.validarCer {
  margin: 0 auto;
  
}

.back {
  color: whitesmoke;
}
.contLogo {
  position: absolute;
  top: 130px; /* Ajusta la posición vertical según sea necesario */
  left: 50%; /* Centra horizontalmente */
  transform: translateX(-50%); /* Centra horizontalmente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; /* Asegura que esté sobre la imagen del encabezado */
}
.logo {
  width: 100px;
  height: auto;
  display: block;
  position: relative;
}

.mensajeInformativo {
  color: black;
  text-align: justify;
  font-size: 14px;
  font-weight: 300;
  margin: 0 auto;
  width: 90%;
  margin-bottom: 20px;
}
span {
  font-weight: bolder;
}
.botonesAcciones {
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
}
.certificado {
  margin: 0 auto;
  width: 90%;
  margin-bottom: 20px;
  color: #080808;
}
.desCertificado {
  margin: 0 auto;
  margin-top: 5px;
}
.informacion {
  margin-top: 40px;
}
.logoUta {
  display: none !important;
}
/* Estilos específicos para el modal en pantallas grandes */
@media only screen and (min-width: 768px) {
  .logoUta {
    display: flex !important;
    position: absolute;
    top: 1%; /* Ajusta la posición vertical según tus necesidades */
    left: 25px;
  }
  .logoUta ion-img {
    max-width: 50%;
  }
  .containerHeader {
    width: 100%;
    height: 120px;
    position: relative;
  }
  .containerHeader ion-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  ion-card{
    height: auto;
  }
  .informacion {
    margin-top: 0px;
  }
  .certificado {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .desCertificado {
    margin-top: 10px; /* Ajusta según sea necesario */
  }
  .botonesAcciones {
    margin-top: 20px;
  }
}

