<app-header backButton="/home"></app-header>
<ion-content class="custom-content">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="d-flex-center">
    <!-- Itera sobre los certificados -->
    <ng-container *ngFor="let certificado of certificados">
      <ion-card class="custom-card">
        <!-- Usa interpolación para mostrar datos dinámicos -->
        <img [src]="certificado.url_gen_cer" alt="ion" class="custom-image" />
        <ion-card-header class="custom-card-header">
          <ion-card-title class="custom-card-title"
            >{{ certificado.nom_cur }}</ion-card-title
          >
        </ion-card-header>
        <ion-card-content class="custom-card-content">
          Este certificado fue generado el {{
          formatearFecha(certificado.fecha_gen_cer) }}, perteneciente al curso
          {{ certificado.nom_cur }}, fue realizado en la fecha {{
          formatearFecha(certificado.fecha_inicio_cur) }}, con una duración
          aproximada de {{ certificado.dur_cur }}.
        </ion-card-content>
        <ion-footer class="custom-footer">
          <ion-row class="custom-row">
            <ion-col center text-center class="custom-col" size="12">
              <button
                class="custom-download-button"
                (click)="descargarCertificado(certificado)"
              >
                Descargar
              </button>
            </ion-col>
          </ion-row>
        </ion-footer>
      </ion-card>
    </ng-container>
    <br>
    <br>
    <app-footer></app-footer>
  </div>
</ion-content>
