ion-content {
  --ion-background-color: #ffffff !important;
}
ion-toolbar {
  --ion-background-color: transparent;
  --opacity: 0;
}
ion-img {
  width: 100%;
  height: 100%;
}

ion-header {
  position: absolute;
}
.custom-card {
  margin-bottom: 20px;
  background-color: #434343;
}

.custom-item {
  background-color: black;
}

.custom-avatar {
  border-radius: 50%;
}

.custom-title {
  font-size: 1.2em;
}

.custom-date {
  color: #888;
}

.custom-image {
  width: fit-content;
  height: auto;
}

.custom-card-header {
  height: auto;
  background-color: #ad272e;
  color: #fff;
}

.custom-card-title {
  height: auto;
  font-size: 1.5em;
  color: white;
  text-align: center;
}

.custom-card-content {
  font-size: 1.1em;
  color: white;
  text-align: justify;
}

.custom-row {
  display: flex;
  justify-content: space-between;
}

.custom-col {
  flex: 1;
}

.custom-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-button-text {
  margin-top: 5px;
  font-size: 0.9em;
  color: #555;
}
.custom-footer {
  margin-top: 0px;
}

.custom-row {
  display: flex;
  justify-content: center;
}

.custom-col {
  text-align: center;
}

.custom-download-button {
  background-color: #621c19;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}
.container {
  width: 100%;
  height: 100%;
  background: #ffffff;
  color: black;
}
app-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  background: #ffffff;
  color: black;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
app-logo {
  margin: 0 auto;
}
ion-list {
  /* background-color: red; */
  width: 100%;

  margin: 0 auto;
}
ion-input {
  margin-bottom: 15px;
}
ion-button {
  padding: 10px 50px 10px 50px;
}
.submit {
  background-color: #00404c;
}
ion-button {
  margin: 0 auto;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  background-color: var(--ion-color-submit);
}
.logoUta {
  display: none !important;
}
.back {
  color: whitesmoke;
}
.containerHeader {
  width: 100%;
  height: 180px;
  position: relative;
}
.containerHeader ion-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
ion-item {
  margin-top: 10px;
}
@media only screen and (min-width: 768px) {
  ion-card {
    max-width: 100%; /* Ajusta el ancho máximo del card según tus preferencias */
  }
  .containerHeader {
    width: 100%;
    height: 135px;
    position: relative;
  }

  .containerHeader ion-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .logoUta {
    display: flex !important;
    position: absolute;
    top: 1%; /* Ajusta la posición vertical según tus necesidades */
    left: 25px;
  }
  .logoUta ion-img {
    max-width: 25%;
  }
  ion-card-title {
    font-size: 35px;
  }
  ion-card-subtitle {
    font-size: 20px;
  }
  .text-tag {
    display: none;
  }
  .social-btns {
    display: none;
  }
  .signin-btns {
    gap: 50px;
  }
  .signin-btns ion-button {
    width: 300px;
    height: 60px;
    font-weight: bolder;
  }
  ion-card-header {
    margin-bottom: 30px;
  }
  ion-card-subtitle {
    margin-top: 30px;
  }
  ion-item {
    width: 40%;
    border-radius: 20px;
  }
  .custom-card {
    width: 30%;
    height: auto;
    margin-bottom: 50px;
  }
  .d-flex-center {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias filas */
    justify-content: space-between;
  }
  .custom-card {
    width: calc(25% - 20px); /* Calcula el ancho para asegurar 4 tarjetas por fila con márgenes entre ellas */
    background-color: #434343;
  }
}
