<!-- CABECERA DE LA PÁGINA -->
<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- Botón de retroceso con ruta predeterminada a '/main' -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main" class="back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- CONTENIDO DE LA PÁGINA -->
<ion-content>
  <!-- TARJETA PRINCIPAL -->
  <ion-card class="ion-no-margin">
    <!-- CABECERA DE LA TARJETA -->
    <div class="containerHeader">
      <ion-img src="assets/imagenes/header.png"></ion-img>
      <div class="logoUta">
        <ion-img src="assets/imagenes/logogris.png"></ion-img>
      </div>
    </div>
    <!-- ENCABEZADO DE LA TARJETA -->
    <ion-card-header>
      <ion-card-title> Buscar Certificados: </ion-card-title>
      <ion-card-subtitle>
        Ingresa los apellidos y cedula del participante a realizar la busqueda
        de certificados.
      </ion-card-subtitle>
    </ion-card-header>
    <!-- CUERPO DE LA TARJETA -->
    <ion-card-content>
      <div class="signin-btns">
        <!-- Formulario para ingresar apellidos y cédula -->
        <form>
          <ion-list>
            <ion-item>
              <ion-label position="floating">Apellido</ion-label>
              <ion-input
                labelPlacement="stacked"
                placeholder="Ingresa el apellido del participante"
                fill="solid"
                [formControl]="form.controls.apellidos"
              ></ion-input>
              <div
                class="validators"
                style="color: red"
                *ngIf="form.controls.apellidos.errors && form.controls.apellidos.touched"
              >
                <div *ngIf="form.controls.apellidos.errors?.['required']">
                  Este campo es requerido.
                </div>
                <div *ngIf="form.controls.apellidos.errors?.['pattern']">
                  Este campo no puede contener números.
                </div>
              </div>
            </ion-item>
            <br />
            <ion-item>
              <ion-label position="floating">Cédula</ion-label>
              <ion-input
                labelPlacement="stacked"
                placeholder="Ingresa la cedula del participante"
                fill="solid"
                [formControl]="form.controls.cedula"
              >
              </ion-input>
              <div
                class="validators"
                style="color: red"
                *ngIf="form.controls.cedula.errors && form.controls.cedula.touched"
              >
                <div *ngIf="form.controls.cedula.errors?.['required']">
                  Este campo es requerido.
                </div>
                <div *ngIf="form.controls.cedula.errors?.['pattern']">
                  Ingresa una cédula valida.
                </div>
              </div>
            </ion-item>
          </ion-list>
          <br />
          <!-- Botón de búsqueda -->
          <ion-button
            type="submit"
            size="small"
            fill="solid"
            shape="round"
            class="loginbtn"
            [disabled]="form.invalid"
            (click)="buscar()"
          >
            Buscar
          </ion-button>
        </form>
      </div>
    </ion-card-content>
  </ion-card>
  <!-- PIE DE PÁGINA DE LA APLICACIÓN -->
  <app-footer></app-footer>
</ion-content>
