<!-- <app-header backButton="/main"></app-header>
<ion-content>
  <div class="d-flex-center">
    <app-logo></app-logo>
    <form>
      <ion-list lines="none">
        <ion-item>
          <ion-input
            label="Apellidos"
            labelPlacement="stacked"
            placeholder="Ex.Granda Jimenez"
            fill="solid"
            [formControl]="form.controls.apellidos"
          ></ion-input>
          <div
            class="validators"
            style="color: red"
            *ngIf="form.controls.apellidos.errors && form.controls.apellidos.touched"
          >
            <div *ngIf="form.controls.apellidos.errors?.['required']">
              Este campo es requerido.
            </div>
            <div *ngIf="form.controls.apellidos.errors?.['pattern']">
              Este campo no puede contener números.
            </div>
          </div>
          <ion-input
            label="Cédula"
            labelPlacement="stacked"
            placeholder="Ex.0503103756"
            fill="solid"
            [formControl]="form.controls.cedula"
          >
          </ion-input>
          <div
            class="validators"
            style="color: red"
            *ngIf="form.controls.cedula.errors && form.controls.cedula.touched"
          >
            <div *ngIf="form.controls.cedula.errors?.['required']">
              Este campo es requerido.
            </div>
            <div *ngIf="form.controls.cedula.errors?.['pattern']">
              Ingresa una cédula valida.
            </div>
          </div>
        </ion-item>
      </ion-list>
      <ion-button
        expand="block"
        type="submit"
        mode="ios"
        color="submit"
        [disabled]="form.invalid"
        (click)="buscar()"
      >
        Buscar
      </ion-button>
    </form>
    <app-footer></app-footer>
  </div>
</ion-content>
 -->
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main" class="back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin">
    <ion-img src="../../assets/imagenes/header.png"></ion-img>
    <ion-card-header>
      <ion-card-title> Buscar Certificados: </ion-card-title>
      <ion-card-subtitle class="ion-text-lowercase">
        Ingresa los apellidos y cedula del participante a realizar la busqueda
        de certificados.
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div class="signin-btns">
        <form>
          <ion-list>
            <ion-item>
              <ion-input
                label="Apellidos"
                labelPlacement="stacked"
                placeholder="Ex.Granda Jimenez"
                fill="solid"
                [formControl]="form.controls.apellidos"
              ></ion-input>
              <div
                class="validators"
                style="color: red"
                *ngIf="form.controls.apellidos.errors && form.controls.apellidos.touched"
              >
                <div *ngIf="form.controls.apellidos.errors?.['required']">
                  Este campo es requerido.
                </div>
                <div *ngIf="form.controls.apellidos.errors?.['pattern']">
                  Este campo no puede contener números.
                </div>
              </div>
            </ion-item>

            <ion-item>
              <ion-input
                label="Cédula"
                labelPlacement="stacked"
                placeholder="Ex.0503103756"
                fill="solid"
                [formControl]="form.controls.cedula"
              >
              </ion-input>
              <div
                class="validators"
                style="color: red"
                *ngIf="form.controls.cedula.errors && form.controls.cedula.touched"
              >
                <div *ngIf="form.controls.cedula.errors?.['required']">
                  Este campo es requerido.
                </div>
                <div *ngIf="form.controls.cedula.errors?.['pattern']">
                  Ingresa una cédula valida.
                </div>
              </div>
            </ion-item>
          </ion-list>
          <br>
          <ion-button
            type="submit"
            size="small"
            fill="solid"
            shape="round"
            class="loginbtn"
            [disabled]="form.invalid"
            (click)="buscar()"
          >
            Buscar
          </ion-button>
        </form>
      </div>
    </ion-card-content>
  </ion-card>
  <app-footer></app-footer>
</ion-content>
